In [ ]:
import string
import pandas as pd

In [ ]:
df=pd.read_csv('emails.csv')
df.head()

                                                text  spam
0  Subject: naturally irresistible your corporate...     1
1  Subject: the stock trading gunslinger  fanny i...     1
2  Subject: unbelievable new homes made easy  im ...     1
3  Subject: 4 color printing special  request add...     1
4  Subject: do not have money , get software cds ...     1

In [ ]:
df['spam'].value_counts()

0    4360
1    1368
Name: spam, dtype: int64

In [ ]:
from sklearn.feature_extraction.text import ENGLISH_STOP_WORDS

def preprocess(text):
  text="".join([t.lower() for t in text if t not in string.punctuation])

  # tokenize

  tokens = text.split(" ") # 'color printing ==['color', 'printing']

# filter out stopwords

  return " ".join(t for t in tokens if t not in ENGLISH_STOP_WORDS)
                  
df['text'] = df['text'].apply(lambda text: preprocess (text))

In [ ]:
df.head()

                                                text  spam
0  subject naturally irresistible corporate ident...     1
1  subject stock trading gunslinger  fanny merril...     1
2  subject unbelievable new homes easy  im wantin...     1
3  subject 4 color printing special  request addi...     1
4  subject money  software cds   software compati...     1

In [ ]:
X=df['text']
Y=df['spam']

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer

tfidf = TfidfVectorizer()

tfidf.fit(X)

X_vectors = tfidf.transform(X)

In [ ]:
X_vectors

<5728x37023 sparse matrix of type '<class 'numpy.float64'>'
	with 508390 stored elements in Compressed Sparse Row format>

In [ ]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split( X_vectors, Y , test_size=0.2, random_state=42)

print (X_train.shape)
print (y_train.shape)

(4582, 37023)
(4582,)

In [ ]:
from sklearn.neighbors import KNeighborsClassifier

knn_classifier=KNeighborsClassifier() 
knn_classifier. fit (X_train, y_train)

KNeighborsClassifier()

In [ ]:
y_pred1 = knn_classifier.predict(X_test) 
y_pred1

array([0, 0, 0, ..., 1, 0, 0])

In [ ]:
from sklearn.metrics import accuracy_score, recall_score, precision_score

#Accuracy, precision, recall scores

print("Accuracy: ", accuracy_score (y_test,y_pred1)) 
print("Precision: ", precision_score (y_test,y_pred1)) 
print("Recall:", recall_score (y_test,y_pred1))

Accuracy:  0.9729493891797557
Precision:  0.9814126394052045
Recall: 0.9103448275862069

In [ ]:
from joblib import dump
dump(knn_classifier,'spam_model.joblib')
dump(tfidf,'tfidf.joblib')